
.DS_Store
STFP-DYNAMIC-CONN/.mvn/wrapper/maven-wrapper.jar
STFP-DYNAMIC-CONN/.mvn/wrapper/maven-wrapper.properties
STFP-DYNAMIC-CONN/.mvn/wrapper/MavenWrapperDownloader.java
STFP-DYNAMIC-CONN/mvnw
STFP-DYNAMIC-CONN/mvnw.cmd
STFP-DYNAMIC-CONN/.mvn/wrapper/maven-wrapper.jar
